// Here you can add other styles
.link {
	cursor: pointer;
}
.input-group.append-transparent .form-control {
	border-right: 0;
}
.input-group.append-transparent .input-group-text {
	border-left: 0;
	background-color: transparent;
}
.sidebar .docList .nav-link {
    padding: 0.25rem 1rem;
}
.sidebar .docList .nav {
	margin-top: 10px;
}
.page_title {
	margin-bottom: 25px;
}
.page_loader {
	margin-left: -78px;
	margin-top: -77px;
    left: 50%;
    position: absolute;
    top: 50%;
}
.documentation_content img {
	max-width: 100%;
}